{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <h1 class="title">{% trans "Enable Two-Factor Authentication" %}</h1>

  <p class="subtitle">{% blocktrans %}Congratulations, you've successfully enabled two-factor
      authentication.{% endblocktrans %}

  {% if not phone_methods %}
    <a href="{% url 'account_settings' %}"
        class="button is-light">{% trans "Back to Profile" %}</a></p>
  {% else %}
    <p>{% blocktrans %}However, it might happen that you don't have access to
      your primary token device. To enable account recovery, add a phone
      number.{% endblocktrans %}</p>

    <a href="{% url 'account_settings' %}"
        class="button is-link is-pulled-right">{% trans "Back to Profile" %}</a>
    <p><a href="{% url 'phone_create' %}"
        class="button is-success">{% trans "Add Phone Number" %}</a></p>
  {% endif %}

{% endblock %}
