[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-nose = "==1.4.5"
django-registration-redux = "==2.4.0"
django-smtp-ssl = "==1.0"
django-widget-tweaks = "==1.4.2"
nose = "==1.3.7"
prospector = "==0.12.7"
Django = "==2.0.4"
django-two-factor-auth = "==1.7.0"
django-otp = "==0.4.3"
phonenumbers = "==8.9.4"
twilio = "==6.12.0"

[dev-packages]
coveralls = "*"

[requires]
python_version = "3.6"
