coverage==4.5.1
Django==2.0.4
django-markdown-deux==1.0.5
django-nose==1.4.5
django-pagedown==1.0.4
django-registration-redux==2.4
django-smtp-ssl==1.0
django-tables2==1.21.2
django-webpack-loader==0.6.0
django-widget-tweaks==1.4.2
gunicorn==19.7.1
pillow==5.1.0
prospector==0.12.7
psycopg2==2.7.4