{% load render_bundle from webpack_loader %}

<html>
  <head>
    {% block title %}
      <title>Reverie</title>
    {% endblock %}

    {% render_bundle 'main' %}

    {% block extracss %}
    {% endblock %}
  </head>

  <body>
    <nav class="navbar">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <!--img src=".png" alt="Reverie" width="112" height="28"-->
          Reverie
        </a>
      </div>
    </nav>

    <section class="section">
      <div class="container">
        <section class="container">
          {% block content %}

          {% endblock %}
        </section>
      </div>
    </section>

    <footer class="footer is-paddingless">
      <div class="container">
        <div class="content has-text-centered">
          <p>
            <strong>Reverie</strong> by <a href="https://github.com/devenney">@devenney</a>. The source code is licensed
            <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
