{% extends "base.html" %}

{% load cropping %}
{% load markdown_deux_tags %}

{% block title %}
  {{ campaign.name }}
{% endblock %}

{% block breadcrumbs %}
  <li>
    <a href="{% url 'campaign:campaign_detail' campaign.slug %}">
      {{ campaign.name }}
    </a>
  </li>
{% endblock %}

{% block content %}
  {% ifequal user.id campaign.game_master_id %}
    <section class="section">
      <div class="is-pulled-right">
        <p>
          GM Controls -
          <a href="{% url 'campaign:campaign_edit' campaign.slug %}">
            Edit
          </a>
        </p>
      </div>
    </section>
  {% endifequal %}

  <section class="hero is-primary">
    {% if campaign.image %}
      <a href="{{ campaign.image.url }}">
        <figure class="image is-3by1">
          <img src="{% cropped_thumbnail campaign "cropping" %}">
        </figure>
      </a>
    {% endif %}
    <div class="hero-body is-small">
      <div class="container">
        <h1 class="title">{{ campaign.name }}</h1>
        <h2 class="subtitle">{{ campaign.tagline }}</h2>
      </div>
    </div>
  </section>

  <section class="section">
    <nav class="level">
      <div class="level-item has-text-centered">
        <div>
          <p class="title">
            <a href="{% url 'campaign:log_list' campaign.slug %}">
              Campaign Log
            </a>
          </p>
        </div>
      </div>
    </nav>
  </section>

  <section class="section">
    <nav class="level">
      <div class="level-item has-text-centered">
        <div>
          <p class="title">
            <a href="{% url 'campaign:character_list' campaign.slug %}">
              {{ characters.count }} Characters
            </a>
          </p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="title">
            <a href="{% url 'campaign:faction_list' campaign.slug %}">
              {{ factions.count }} Factions
            </a>
          </p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="title">
            <a href="{% url 'campaign:item_list' campaign.slug %}">
              {{ items.count }} Items
            </a>
          </p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="title">
            <a href="{% url 'campaign:location_list' campaign.slug %}">
              {{ locations.count }} Locations
            </a>
          </p>
        </div>
      </div>
    </nav>
  </section>

  <section class="section is-small">
    <div class="columns is-centered">
      <div class="column is-three-fifths">
        <div class="content">
          {{ campaign.formatted_description | safe }}
        </div>
      </div>
    </div>
  </section>
{% endblock %}
