{% extends "base.html" %}

{% block title %}
  {{ campaign.name }}
{% endblock %}

{% block breadcrumbs %}
  <li>
    <a href="{% url 'campaign:campaign_detail' campaign.id %}">
      {{ campaign.name }}
    </a>
  </li>
{% endblock %}

{% block content %}
  {% ifequal user.id campaign.game_master_id %}
    <section class="section">
      <div class="is-pulled-right">
        <p>
          GM Controls -
          <a href="{% url 'campaign:campaign_edit' campaign.id %}">
            Edit
          </a>
        </p>
      </div>
    </section>
  {% endifequal %}

  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">{{ campaign.name }}</h1>
        <h2 class="subtitle">{{ campaign.tagline }}</h2>
      </div>
    </div>
  </section>

  <section class="section">
    <nav class="level">
      <div class="level-item has-text-centered">
        <div>
          <p class="title">
            <a href="{% url 'campaign:log_list' campaign.id %}">
              Campaign Log
            </a>
          </p>
        </div>
      </div>
    </nav>
  </section>

  <section class="section">
    <nav class="level">
      <div class="level-item has-text-centered">
        <div>
          <p class="title">
            <a href="{% url 'campaign:character_list' campaign.id %}">
              Characters
            </a>
          </p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="title">
            <a href="{% url 'campaign:faction_list' campaign.id %}">
              Factions
            </a>
          </p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="title">
            <a href="{% url 'campaign:item_list' campaign.id %}">
              Items
            </a>
          </p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="title">
            <a href="{% url 'campaign:location_list' campaign.id %}">
              Locations
            </a>
          </p>
        </div>
      </div>
    </nav>
  </section>

  <section class="section">
    <div class="container">
      {{ campaign.description | linebreaksbr }}
    </div>
  </section>
{% endblock %}
