{% extends "base.html" %}

{% load static %}

{% block title %}
  Campaign Entry
{% endblock %}

{% block breadcrumbs %}
  {% if campaign %}
    <li>
      <a href="{% url 'campaign:campaign_detail' campaign.slug %}">
        {{ campaign.name }}
      </a>
    </li>
    <li>
      <a href="{% url 'campaign:campaign_edit' campaign.slug %}">
        Edit
      </a>
    </li>
  {% else %}
    <li>
      <a href="{% url 'campaign:campaign_entry' %}">
        New
      </a>
    </li>
  {% endif %}
{% endblock %}


{% block content %}
  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          {% if form.instance.id %}
            Edit {{ form.instance }}
          {% else %}
            New Campaign
          {% endif %}
        </h1>
      </div>
    </div>
  </section>

  <section class="section">
    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}

      {% include "bulma_form.html" %}

      <button class="button is-primary" type="submit">
        {% if form.instance.id %}
          Update
        {% else %}
          Create Campaign
        {% endif %}
      </button>
    </form>
  </section>
{% endblock %}
