{% extends "base.html" %}

{% load cropping %}
{% load markdown_deux_tags %}

{% block title %}
  {{ campaign.name }}
{% endblock %}

{% block breadcrumbs %}
  <li>
    <a href="{% url 'campaign:campaign_detail' campaign.slug %}">
      {{ campaign.name }}
    </a>
  </li>
  <li>
    <a href="{% url 'campaign:character_list' campaign.slug %}">
      Characters
    </a>
  </li>
  <li>
    <a href="{% url 'campaign:character_detail' campaign.slug character.slug %}">
      {{ character.name }}
    </a>
  </li>
{% endblock %}

{% block content %}
  {% if user == campaign.game_master or user == character.player %}
    <section class="section">
      <div class="is-pulled-right">
        <p>
          {% if user == campaign.game_master %}
            GM
          {% else %}
            Player
          {% endif %}
          Controls -
          <a href="{% url 'campaign:character_edit' campaign.slug character.slug %}">
            Edit
          </a>
        </p>
      </div>
    </section>
  {% endif %}

  <section class="section is-small">
    <div class="hero is-primary">
      <div class="hero-body has-text-centered">
        {% if character.image %}
          <a href="{{ character.image.url }}">
            <figure class="image is-128x128 has-image-centered">
              <img class="is-rounded" src="{% cropped_thumbnail character "cropping" %}">
            </figure>
          </a>
          <br />
        {% endif %}

        <h1 class="title">{{ character.name }}</h1>
        <h2 class="subtitle">{{ character.tagline }}</h2>
      </div>
    </div>
  </section>

  <section class="section is-small">
    <div class="columns has-text-centered is-centered">
      <div class="column is-three-fifths">
        <div class="content">
          {{ character.formatted_description | safe }}
        </div>
      </div>
    </div>
  </section>
{% endblock %}
