{% extends "base.html" %}

{% block title %}
  Character List
{% endblock %}

{% block breadcrumbs %}
  <li>
    <a href="{% url 'campaign:campaign_detail' campaign.id %}">
      {{ campaign.name }}
    </a>
  </li>
  <li>
    <a href="{% url 'campaign:character_list' campaign.id %}">
      Characters
    </a>
  </li>
{% endblock %}

{% block content %}
  {% ifequal user.id campaign.game_master_id %}
    <section class="section">
      <div class="is-pulled-right">
        <p>
          GM Controls -
          <a href="{% url 'campaign:character_entry' campaign.id %}">
            New Character
          </a>
        </p>
      </div>
    </section>
  {% endifequal %}

  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container is-clearfix">
        <h1 class="title">Characters</h1>
      </div>
    </div>
  </section>

  <section class="section">
      <h2 class="subtitle">
        Characters
      </h2>
      <div>
        {% if characters %}
          {% for character in characters %}
            <a href="{% url 'campaign:character_detail' campaign.id character.id %}">
              <p>{{ character.name }}</p>
            </a>
          {% endfor %}
        {% else %}
          <h2 style="subtitle">No characters are available.</h2>
        {% endif %}
      </div>
  </section>
{% endblock %}
