{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load static %}

{% block extracss %}
  <link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />
{% endblock %}

{% block content %}
  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">{{campaign.name}}</h1>
        <h2 class="subtitle">Characters</h2>
      </div>
    </div>
  </section>

  <section class="section">
    {% if character_list %}
      {% render_table table %}
    {% else %}
      <p>No characters are available.</p>
    {% endif %}
  </section>
{% endblock %}
