{% extends "base.html" %}

{% load markdown_deux_tags %}
{% load markdown_extras %}

{% block content %}
  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">{{ faction.name }}</h1>
        <h2 class="subtitle">{{ faction.tagline }}</h2>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="content">
      <p>{{ faction.description | cross_reference | markdown }}</p>
    </div>
  </section>
{% endblock %}
