{% extends "base.html" %}

{% load static %}

{% block title %}
  Faction Entry
{% endblock %}

{% block breadcrumbs %}
  <li>
    <a href="{% url 'campaign:campaign_detail' campaign.id %}">
      {{ campaign.name }}
    </a>
  </li>
  <li>
    <a href="{% url 'campaign:faction_list' campaign.id %}">
      Factions
    </a>
  </li>
  {% if faction %}
    <li>
      <a href="{% url 'campaign:faction_detail' campaign.id faction.id %}">
        {{ faction.name }}
      </a>
    </li>
    <li>
      <a href="{% url 'campaign:faction_edit' campaign.id faction.id %}">
        Edit
      </a>
    </li>
  {% else %}
    <li>
      <a href="{% url 'campaign:faction_entry' campaign.id %}">
        New
      </a>
    </li>
  {% endif %}
{% endblock %}

{% block content %}
  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          {% if form.instance.id %}
            Edit {{ form.instance }}
          {% else %}
            New Faction
          {% endif %}
        </h1>
      </div>
    </div>
  </section>

  <section class="section">
    <form action="" method="post">
      {% csrf_token %}

      {% include "bulma_form.html" %}

      <button class="button is-primary" type="submit">
        {% if form.instance.id %}
          Update
        {% else %}
          Create Faction
        {% endif %}
      </button>
    </form>
  </section>

  {{ form.media.js }}
{% endblock %}
