{% extends "base.html" %}

{% block title %}
  Campaign List
{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    <section class="section">
      <div class="is-pulled-right">
        <p>
          GM Controls -
          <a href="{% url 'campaign:campaign_entry' %}">
            Create Campaign
          </a>
        </p>
      </div>
    </section>
  {% endif %}

  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">Campaigns</h1>
      </div>
    </div>
  </section>

    {% if dm_campaigns %}
      <section class="section">
        <h2 class="subtitle">
          Campaigns You Run
        </h2>
        <div>
          {% for campaign in dm_campaigns %}
            <a href="{% url 'campaign:campaign_detail' campaign.id %}">
              <p>{{ campaign.name }}</p>
            </a>
          {% endfor %}
        </div>
      </section>
    {% endif %}

    {% if player_campaigns %}
      <section class="section">
        <h2 class="subtitle">
          Campaigns You Play
        </h2>
        <div>
          {% for campaign in player_campaigns %}
            <a href="{% url 'campaign:campaign_detail' campaign.id %}">
              <p>{{ campaign.name }}</p>
            </a>
          {% endfor %}
        </div>
      </section>
    {% endif %}

    {% if public_campaigns %}
      <section class="section">
        <h2 class="subtitle">
          Public Campaigns
        </h2>
        <div>
          {% for campaign in public_campaigns %}
            <a href="{% url 'campaign:campaign_detail' campaign.id %}">
              <p>{{ campaign.name }}</p>
            </a>
          {% endfor %}
        </div>
      </section>
    {% endif %}

    {% if not dm_campaigns and not public_campaigns %}
      <h2 style="subtitle">No campaigns are available.</h2>
    {% endif %}
  </section>
{% endblock %}
