{% extends "base.html" %}

{% load static %}

{% block title %}
  Item Entry
{% endblock %}

{% block extracss %}
  <link rel="stylesheet" type="text/css" href="{% static "css/select2.css" %}">
{% endblock %}

{% block breadcrumbs %}
  <li>
    <a href="{% url 'campaign:campaign_detail' campaign.id %}">
      {{ campaign.name }}
    </a>
  </li>
  <li>
    <a href="{% url 'campaign:item_list' campaign.id %}">
      Items
    </a>
  </li>
  {% if item %}
    <li>
      <a href="{% url 'campaign:item_detail' campaign.id item.id %}">
        {{ item.name }}
      </a>
    </li>
    <li>
      <a href="{% url 'campaign:item_edit' campaign.id item.id %}">
        Edit
      </a>
    </li>
  {% else %}
    <li>
      <a href="{% url 'campaign:item_entry' campaign.id %}">
        New
      </a>
    </li>
  {% endif %}
{% endblock %}


{% block content %}
  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          {% if form.instance.id %}
            Edit {{ form.instance }}
          {% else %}
            New Item
          {% endif %}
        </h1>
      </div>
    </div>
  </section>

  <section class="section">
    <form action="" method="post">
      {% csrf_token %}

      {% include "bulma_form.html" %}

      <button class="button is-primary" type="submit">
        {% if form.instance.id %}
          Update
        {% else %}
          Create Item
        {% endif %}
      </button>
    </form>
  </section>

  {{ form.media.js }}
{% endblock %}
