{% extends "base.html" %}

{% load cropping %}
{% load markdown_deux_tags %}

{% block title %}
  {{ campaign.name }}
{% endblock %}

{% block breadcrumbs %}
  <li>
    <a href="{% url 'campaign:campaign_detail' campaign.id %}">
      {{ campaign.name }}
    </a>
  </li>
  <li>
    <a href="{% url 'campaign:location_list' campaign.id %}">
      Locations
    </a>
  </li>
  <li>
    <a href="{% url 'campaign:location_detail' campaign.id location.id %}">
      {{ location.name }}
    </a>
  </li>
{% endblock %}

{% block content %}
  {% if user == campaign.game_master %}
    <section class="section">
      <div class="is-pulled-right">
        <p>
          {% if user == campaign.game_master %}
            GM
          {% else %}
            Player
          {% endif %}
          Controls -
          <a href="{% url 'campaign:location_edit' campaign.id location.id %}">
            Edit
          </a>
        </p>
      </div>
    </section>
  {% endif %}

  <section class="section is-small">
    <div class="hero is-primary">
      <div class="hero-body has-text-centered">
        {% if location.image %}
          <a href="{{ location.image.url }}">
            <figure class="image is-128x128 has-image-centered">
              <img class="is-rounded" src="{% cropped_thumbnail location "cropping" %}">
            </figure>
          </a>
          <br />
        {% endif %}

        <h1 class="title">{{ location.name }}</h1>
        <h2 class="subtitle">{{ location.tagline }}</h2>
      </div>
    </div>
  </section>

  <section class="section is-small">
    <div class="columns has-text-centered is-centered">
      <div class="column is-three-fifths">
        <div class="content">
          {{ location.description | markdown }}
        </div>
      </div>
    </div>
  </section>
{% endblock %}
