{% extends "base.html" %}

{% load markdown_deux_tags %}
{% load markdown_extras %}

{% block title %}
  {{ location.name }} - {{ campaign.name }}
{% endblock %}

{% block content %}
  <div class="card article">
    <div class="card-content">
      <div class="media">
        {% if location.image %}
          <a href="{{ location.image.url }}">
            <div class="media-center">
              <img src="{{ location.image.url }}"
                   class="character-image" alt="{{ character.name }}"
              >
            </div>
          </a>
        {% endif %}

        <div class="media-content has-text-centered">
          <h1 class="title">
            {{ location.name }}
          </h1>

          <h2 class="subtitle is-4">
            {{ location.tagline }}
          </h2>
        </div>
      </div>

      {% if location.superlocation %}
        <div class="content">
          <section class="section">
            <a href="{% url 'campaign:location_detail' campaign.slug location.superlocation.slug %}">
              <span class="tag is-primary">{{ location.superlocation }}</span>
            </a>
          </section>
        </div>
      {% endif %}

      {% if location.sublocations.all %}
        <div class="content">
          <h4 class="subtitle">Sublocations</h1>
          <ul>
            {% for loc in location.sublocations.all|dictsort:"name" %}
              <li>
                <a href="{% url 'campaign:location_detail' campaign.slug loc.slug %}">{{ loc }}</a>
                {% if loc.tagline %}
                  - {{ loc.tagline }}
                {% endif %}
                {% if loc.sublocations.all %}
                  ({{ loc.sublocations.count }}
                  sublocation{%if loc.sublocations.count > 1%}s{%endif%})
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}

      <div class="content">
        <h4>Description</h4>
        {{ location.description | cross_reference | markdown}}
      </div>
    </div>
  </div>
{% endblock %}
