{% extends "base.html" %}

{% load static %}

{% block title %}
  Location Entry
{% endblock %}

{% block breadcrumbs %}
  <li>
    <a href="{% url 'campaign:campaign_detail' campaign.slug %}">
      {{ campaign.name }}
    </a>
  </li>
  <li>
    <a href="{% url 'campaign:location_list' campaign.slug %}">
      Locations
    </a>
  </li>
  {% if location %}
    <li>
      <a href="{% url 'campaign:location_detail' campaign.slug location.slug %}">
        {{ location.name }}
      </a>
    </li>
    <li>
      <a href="{% url 'campaign:location_edit' campaign.slug location.slug %}">
        Edit
      </a>
    </li>
  {% else %}
    <li>
      <a href="{% url 'campaign:location_entry' campaign.slug %}">
        New
      </a>
    </li>
  {% endif %}
{% endblock %}

{% block content %}
  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          {% if form.instance.id %}
            Edit {{ form.instance }}
          {% else %}
            New Location
          {% endif %}
        </h1>
      </div>
    </div>
  </section>

  <section class="section">
    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}

      {% include "bulma_form.html" %}

      <button class="button is-primary" type="submit">
        {% if form.instance.id %}
          Update
        {% else %}
          Create Location
        {% endif %}
      </button>
    </form>
  </section>
{% endblock %}
