{% extends "base.html" %}

{% load cropping %}

{% block title %}
  {{ campaign.name }}
{% endblock %}

{% block breadcrumbs %}
  <li>
    <a href="{% url 'campaign:campaign_detail' campaign.id %}">
      {{ campaign.name }}
    </a>
  </li>
  <li>
    <a href="{% url 'campaign:log_list' campaign.id %}">
      Campaign Log
    </a>
  </li>
  <li>
    <a href="{% url 'campaign:log_detail' campaign.id log.id %}">
      {{ log.title }}
    </a>
  </li>
{% endblock %}

{% block content %}
  {% ifequal user.id campaign.game_master_id %}
    <section class="section">
      <div class="is-pulled-right">
        <p>
          GM Controls -
          <a href="{% url 'campaign:log_edit' campaign.id log.id %}">
            Edit
          </a>
        </p>
      </div>
    </section>
  {% endifequal %}

  <section class="hero is-primary">
    {% if log.image %}
      <a href="{{ log.image.url }}">
        <figure class="image is-3by1">
          <img src="{% cropped_thumbnail log "cropping" %}">
        </figure>
      </a>
    {% endif %}
    <div class="hero-body is-small">
      <div class="container">
        <h1 class="title">{{ log.title }}</h1>
        <h2 class="subtitle">{{ log.date }}</h2>
      </div>
    </div>
  </section>

  <section class="section is-small">
    <div class="columns has-text-centered is-centered">
      <div class="column is-three-fifths">
        {{ log.description | linebreaksbr }}
      </div>
    </div>
  </section>
{% endblock %}
