{% extends "base.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block title %}Reverie - {% trans "Reset Password" %}{% endblock %}

{% block content %}
  {% trans "Reset password" as purpose %}
  <h1 class="title">{{ purpose }}</h1>

   {% if user.is_authenticated %}
     <div class="notification is-warning">
       You are already authenticated.
     </div>
   {% else %}

  <p>
    <h2 class="subtitle">
      {% blocktrans %}
      Forgot your password? Enter your email in the form below and we'll send you instructions for creating a new one.
      {% endblocktrans %}
    </h2>
  </p>

  <form method="post" action="">
    {% include "bulma_form.html" %}
  </form>

  {% endif %}
{% endblock %}
