{% load i18n %}
{% load widget_tweaks %}

{% csrf_token %}

{% if form.non_field_errors %}
  {% for error in form.non_field_errors %}
    <div class="notification is-danger">
      {{ form.non_field_errors }}
    </div>
  {% endfor %}
{% endif %}

{% for field in form %}
  <div class="field">
    <label class="label">
      {% if field.help_text %}
        <div class="dropdown is-hoverable">
          <div class="dropdown-trigger">
            <p class="is-dark" aria-haspopup="true" aria-controls="dropdown-menu{{forloop.counter}}">
              <span class="icon">
                <i class="fa fa-question" aria-hidden="true"></i>
              </span>
            </p>
          </div>
          <div class="dropdown-menu" id="dropdown-menu{{forloop.counter}}" role="menu">
            <div class="dropdown-content content is-size-7 has-text-grey">
              {{ field.help_text | safe }}
            </div>
          </div>
        </div>
      {% endif %}

      {{ field.label_tag }}

    </label>

    {% if field.field.widget.input_type == "checkbox" or field.field.widget.input_type == "radio" %}
      {{ field | add_error_class:"is-danger" }}
    {% else %}
      {{ field | add_class:"input" | add_error_class:"is-danger" }}
    {% endif %}

    {% if field.errors %}
      {% for error in field.errors %}
        <p class="help is-danger">
          {{ error }}
        </p>
      {% endfor %}
    {% endif %}
  </div>
{% endfor %}

{% if purpose %}
  <button class="button is-primary" type="submit">{{ purpose }}</button>
{% endif %}

<!-- Enable [enter] to submit form -->
<input type="hidden" name="next" value="{{ next }}" />
